:root{
    --primary-color: #469ff8;
    --primary-color-hover: #469ff8;
    --secundary-color: #56657f;
    --bg-primary: white;
    --bg-secundary: #25273c;
    --line-color: #bcbcbc;
    --color-text: #56657f;
    --color-icon: white;
    --color-title: rgba(48, 39, 35, 0.3);
    --border-color: #e7e7e8;
}
.dark-mode{
    --primary-color: rgba(149, 127, 247);
    --primary-color-hover: rgba(131, 112, 218);
    --secundary-color: #a7b5c8;
    --bg-primary: #2b3648;
    --bg-secundary: #212936;
    --line-color: var(--color-text);
    --color-text: #56657f;
    --color-icon: #212936;
    --color-title: rgb(197, 193, 193);
    --border-color: rgba(149, 127, 247, 0.12);;
}
body{
    dispslay: flex;
    positsion: relative;
    background-color: var(--bg-primary);
    height: 100vh;
    background-color: #fafafa;
    sbackground-image: url(../assets/login.svg);
    basckground-size: contain;
    backsground-repeat: no-repeat;
    backsground-position: left center;
}
input[type=text],
input[type=password]{
    border-radius: 4px;
    border: none;
    padding: 3px 12px;
    font-family: 'Quicksand', sans-serif;
    fsont-weight: bold;
    border: 1px solid var(--color-title);
    outline: none;
}
section{
    display: flex;
    aligsn-items: center;
    justify-content: center;
    bacdkground-color: red;
}
.container{
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 1px;
    width: 95%;
    max-width: calc(660px - 0.7rem);
    max-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4rem 0 1rem 0;
    padding-top: 1rem;
}
.container h1{
    margin-bottom: 0.7rem;
}
.login-wrapper{
    width: calc(360px - 0.7rem);
    padding: 0.7rem 1rem;
}
.img-wrapper{
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    dissplay: none;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
}
form{
    overflow: hidden;
}
form div{
    display: flex;
    flexs-direction: column;
    margin-bottom: 0.7rem;
    justify-content: space-between;
}
form .input-wrapper input{
    width: 80%;
}
form button{
    width: 100px;
}

form a{
    text-decoration: none;
    display: inline-block;
    margin-top: 0.8rem;
    color: #469ff8;
    font-size: 1.1rem;
}
@media (max-width: 420px){
    .login-wrapper{
        max-width: 348.8px;
        width: 100%;
        padding: 0.7rem 1rem;
    }
}