<footer>
    <div>2022 - My Box. Todos os direitos reservados</div>

    <div class="footer-link">
        <a href="/">Sobre</a>
        <a href="/signup">Cadastre-se</a>
        <a href="/login">Login</a>
    </div>
</footer>