<header>
    <div class="logo-container">
        <a href="/">
            <img src="/public/assets/logo.svg" alt="">
            <span id="name">My Box</span>
        </a>
    </div>

    <nav>
        <a href="/">Sobre</a> |
        <a href="/signup">Cadastre-se</a>
        <a href="/login" id="login">Login</a>
    </nav>
</header>