<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/publiccss/normalize.css" />
    <link rel="stylesheet" href="/public/css/page.css" />
    <link rel="stylesheet" href="/public/css/index.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Quicksand:wght@300&family=Raleway&family=Urbanist:ital@1&display=swap"
        rel="stylesheet">
    <title>Página</title>
</head>

<body>
    <%- include('./parts/header'); %>
    <main>
        <section class="home">
            <div class="content">
                <h1>Seus arquivos em um único lugar</h1>
                <h2>Armazene seus arquivos com de maneira rápida e prática.</h2>

                <div id="home-btn" class="">
                    <a href="/signup" class="btn outline">Cadastre-se</a>
                    <a href="/login" class="btn">Login</a>
                </div>
            </div>

            <div class="card-container">
                <div class="card" id="first-card">
                    <div class="card-img">
                        <img src="/public/assets/storage.svg" alt="">
                    </div>
                    <div class="card-content">
                        <div>Armazene seus arquivos com segurança</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="/public/assets/responsive.svg" alt="">
                    </div>
                    <div class="card-content">
                        <div>Pensado para todos os tipos de aparelhos</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="/public/assets/access.svg" alt="">
                    </div>
                    <div class="card-content">
                        <div>Acesse em todos os lugares</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./parts/footer'); %>
</body>
</html>