<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/page.css">
    <link rel="stylesheet" href="/public/css/login.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Quicksand:wght@300&family=Raleway&family=Urbanist:ital@1&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <%- include('./parts/header'); %>
    <main>
        <section>
            <div class="container">
                <div class="img-wrapper">
                    <img src="/public/assets/login.svg" alt="">
                </div>

                <div class="login-wrapper">
                    <h1>Login</h1>
                    <form action="/user/authentication" method="POST">
                        <div class="input-wrapper">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" name="email" placeholder="Digite seu e-mail">
                        </div>
                        <div class="input-wrapper">
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="password" placeholder="Senha">
                        </div>
                        <div>
                            <a href="/signup">Cadastrar</a>
                            <button type="submit" class="btn outline" id="submit">Login</button>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include('./parts/footer'); %>
</body>
</html>