:root{
    --bg-color-files: #2196f3;
    --files-selected: #e3f2fd;
}
.dark-mode{
    --bg-color-files: rgba(149, 127, 247);
    --files-selected: rgba(149, 127, 247, 0.12);
}

header{
    display: flex;
    position: relative;
    width: calc(100% - 50px);
    left: 50px;
}

.storage{
    text-align: center;
    margin-top: 20px;
    color: var(--secundary-color);
    font-family: 'Jost', sans-serif;
}
.storage .progressbar{
    margin: 0 auto;
    height: 20px;
    width: 60%;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    border-radius: 3px;
}
.storage .progress {
    background-color: var(--primary-color);
    height: 100%;
    width: 67%;
}
header .header-content{
    width: calc(100%);
}
header .header-content ol{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
}
header .header-content li{
    margin-left: 5px;
    word-wrap: break-word;
    color: var(--secundary-color);
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    line-height: 30px;
}
header .header-content a{
    color: var(--bg-color-files);
    text-decoration: none;
}
header input[type=text]{
    width: 180px;
    background-image: url(../assets/search.svg);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 15px;
    padding-left: 30px;
    margin-bottom: 14px;
}
section.content{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 14px 0;
    min-height: 100%;
}
.selected{
    background-color: var(--files-selected);
}
.item{
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 0.2rem;
    color: var(--bg-color-files);
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;
    overflow: hidden;
}

.item .folder, .item .file{
    display: flex;
    align-items: center;
}
.item .folder span, 
.item .file span{
    margin-left: 10px;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--secundary-color);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.modal-wraper{
    position: fixed;
    bottom: 20px;
    margin: auto;
    width: calc(100% - 50px);
    max-width: 100%;
    left: 50px;
}
.upload-modal{
    background-color: var(--bg-primary);
    width: 70%;
    margin: auto;
    border-radius: 3px;
    border: 1px solid var(--line-color)
}
.upload-modal .modal-content{
    padding: 0.7rem;
    color: var(--secundary-color);
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-modal .modal-content div:first-child{
    margin-bottom: 7px;
}
.upload-modal .progressbar{
    height: 4px;
    background-color: var(--color-text);
}
.upload-modal .progress{
    width: 73%;
    background-color: var(--primary-color);
    height: 100%;
}

.new-folder-wraper{
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 50px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 50px;
    display: none;
}

.new-folder-wraper form{
    background-color: #25273c;
    background-color: var(--bg-secundary);
    color: white;
    width: 95%;
    max-width: 450px;
    margin: 105px auto 0 auto;
    padding: 1.7rem 1rem;
    padding-bottom: 3.3rem;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
    border-radius: 4px;
}

.new-folder-wraper form input{
    width: 85%;
    margin-top: 10px;
    background-color: white;
    
}
.new-folder-wraper form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-enter{
    border: none;
    outline: none;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: -22px;
    height: 0;
    color: var(--color-text);
    cursor: pointer;
}
.read-only, .read-only *{
    overflow: hidden;
    width: 0;
    height: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width: 481px){
    section.content{
        grid-template-columns: repeat(auto-fill, calc( (100% - 20px) / 3));
        gap: 14px 10px;
    }
    .item{
        margin: 0;
        text-align: center;
    }
    .item .folder, .item .file{
        display: flex;
        flex-direction: column;
        font-size: 2.7rem;
    }
    .item .folder span, 
    .item .file span{
        margin-top: 5px;
    }
}
@media (min-width: 769px){
    section.content{
        grid-template-columns: repeat(auto-fill, calc( (100% - 30px) / 4));
        gap: 14px 10px;
    }
}

@media (min-width: 1025px){
    section.content{
        grid-template-columns: repeat(auto-fill, calc( (100% - 40px) / 5));
        gap: 14px 10px;
    }
}

@media (min-width: 1201px){
    section.content{
        grid-template-columns: repeat(auto-fill, calc( (100% - 61px) / 7));
        gap: 14px 10px;
    }
}