:root{
    --primary-color: #469ff8;
    --primary-color-hover: #469ff8;
    --secundary-color: #56657f;
    --bg-primary: white;
    --bg-secundary: #25273c;
    --line-color: #bcbcbc;
    --color-text: #56657f;
    --color-icon: white;
    --color-title: #302723;
    --border-color: #e7e7e8;
}
.dark-mode{
    --primary-color: rgba(149, 127, 247);
    --primary-color-hover: rgba(131, 112, 218);
    --secundary-color: #a7b5c8;
    --bg-primary: #2b3648;
    --bg-secundary: #212936;
    --line-color: var(--color-text);
    --color-text: #56657f;
    --color-icon: #212936;
    --color-title: rgb(197, 193, 193);
    --border-color: rgba(149, 127, 247, 0.12);;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
body{
    dispslay: flex;
    positsion: relative;
    background-color: var(--bg-primary);
    height: 100vh;
}
header{
    padding: 0 0 0.5rem 0.5em;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    bordser: 1px solid blue;
    width: 50px;
    height: 100%;
    background-color: var(--bg-secundary);
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    background-color: var(--bg-secundary);
    height: 100%;
}
main{
    padding: 0.7rem;
    backsground-color: orange;
    width: calc(100% - 50px);
    min-hdeight: 65vh;
    position: relative;
    left: 50px;
    rigsht: 0;
    botdtom: 0;
    dissplay: none;
    z-insdex: -1;
}
h1{
    color: var(--color-title);
    font-family: 'Raleway', sans-serif;
}
input[type=text]{
    border-radius: 4px;
    border: none;
    padding: 3px 12px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 1px solid var(--color-title);
    outline: none;
}
input:focus{
    bordesr: 1px solid var(--primary-color);
}
.line{
    border-top: 1px solid var(--line-color);
    width: 100%;
    margin-top: 15px;
}

.circle-button{
    font-family: 'Quicksand', sans-serif;
    margin-top: 11px;
    font-size: 18px;
    text-align: center;
    min-width: 36px;
    padding: 7px 9px;
    border-radius: 5px;
    display: inline-block;
    color: var(--color-text);    
    font-weight: bold;
    backsground-color: rgba(25, 118, 2100, 1);
    box-shadsow: -1px 3px 4px 0 rgba(0, 0, 0, 0.5);
    transition: ease 200ms;
    z-index: 10;
}
.circle-button:hover:not(.disabled){
    transform: scale(1.2, 1.2);
    background: var(--primary-color-hover);
    color: var(--color-icon);
}

.disabled{
    opacity: 0.4;
    cursor: initial;
}

.circular-button i{
    font-size: 1.375rem;
}
.circle-button .description{
    display: block;
    position: absolute;
    left: 0px;
    margin-left: 35px;
    background-color: #34364b;
    color: white;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 0.875rem;
    cursor: auto;
    display: none;
    white-space: nowrap;
    font-family: 'Jost', sans-serif;
}

.circle-button:hover:not(.disabled) > .description{
    transform: scale(0.87, 0.87);
    display: inline;
}
.circle-button:hover .description:hover{
    display: none;
}
@media only screen and (orientation: landscape) and (max-width: 650px) and (max-height: 360px){
    #dark-mode-button{
        position: fixed;
        right: 20px;
        top: 20px;
        backsground-color: red;
        z-index: 100;
    }
    #dark-mode-button:hover .description{
        left: initial;
        right: 0;
        margin-right: 35px;
    }
    main, header, .item{
    }
    .navbar{
        margin-top: -5px;
    }
    .circle-button{
        margin-top: 11px;
        font-size: 17px;
        padding: 7px 9px;
        min-width: 36px;
    }
    
}
@media only screen and (orientation: landscape) and (max-width: 500px) and (max-height: 345px){
    #dark-mode-button{
        position: fixed;
        right: 20px;
        top: 20px;
    }
    main, header{
    }
    .navbar{
        margin-top: -5px;
    }
    .circle-button{
        margin-top: 9.25px;
        font-size: 15.25px;
        padding: 5.25px 7.25px;
        min-width: 34.25px;
    }
}





